*.iml
*.xml
*.jsp
*.properties
*.xls
*.css
*.lst
*.xsl
.name
!pom.xml

!/api/src/test/resources/cdaFromOscarEmr.xml
!/api/src/test/resources/CielList.xml
!/api/src/test/resources/OnDemandTest.xml
!/api/src/test/resources/aps_first_visit.xml
!/api/src/test/resources/test-hibernate.cfg.xml
!/api/src/test/resources/test-hibernate.cfg.xml
